.upload {
    .image {
        transition: 0.25s;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
    }

    .summary {
        width: 8rem;
        height: 8rem;
    }

    input[type='file'] {
        cursor: pointer;
    }

    .file {
        width: 8rem;
        height: 8rem;

        &::before {
            content: '+';
            font-size: 5rem;
            color: #ddd;
            margin-top: -1rem;
        }
    }
}